<!DOCTYPE html>
<html xmlns:v-bind="http://www.w3.org/1999/xhtml">
<head>
    <title>脚本管理</title>

    <script src="/js/header.js?t=1234" type="text/javascript"></script>

</head>
<body>
<div id="rrapp">
    <div class="form-horizontal" style="width: auto;padding:20px">
        <div class="form-group">
            <label class=" col-md-1 col-md-offset-2 control-label">脚本编号：</label>
            <div class="col-md-2">
                <input class="form-control" name="scriptId" v-model="params.scriptId" />
             </div>

        </div>
        <div class="form-group">
            <label class="col-md-1 col-md-offset-2 control-label">脚本类型：</label>
            <div class="col-md-2">
                <select class="form-control" style="width: 160px"  name="scriptType" v-model="params.scriptType" >
                    <option value="" selected>请选择脚本类型</option>
                    <template v-for="option in AceEdtiorDics.scriptType">
                        <option :value="option.value"  >
                            {{ option.text }}
                        </option>
                    </template>
                </select>
            </div>


            </div>
        </div>
        <div class="form-group" style="margin-top: 30px;">
            <div class="col-md-offset-5">
                <button type="button" class="btn btn-success" @click="query">查询</button>
                &nbsp;&nbsp;<button type="button" class="btn btn-default" @click="create">新增</button>
            </div>
        </div>
    </div>
    <table id="jqGrid"></table>
    <div id="jqGridPager"></div>
</div>

<script src="/js/aceEditor.js?=t=2234"></script>
<script src="/js/jvmScriptInfo_mng.js?t=123456733890"></script>
</body>
</html>